@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins&display=swap');

.App {
  display: flex;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  // background-color: #f5f5f5;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.ville {
  font-family: 'Libre Baskerville', serif;
}

dl {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #e1e1e1;
  dt {
    color: #999
  }
  dd {
    margin-left: 24px;
  }
}

.left {
  flex-shrink: 0;
  width: 280px;
  height: 100vh;
  padding: 12px 0;
  user-select: none;
  overflow-y: auto;
  .left-header {
    opacity: 0.85;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  .rotate-logo {
    animation: rotate 10s linear infinite;
  }
  .nav {
    a {
      display: block;
      padding: 6px 24px;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        background-color: rgb(33, 47, 94);
      }
      &.active {
        background-color: rgb(33, 47, 94);
        color: #fff;
      }
    }
  }
}

// keyframes
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main {
  padding: 24px;
  width: 100%;
  min-width: 800px;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.limit-width {
  max-width: 960px;
}

.page-title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 400;
  color: #444;
}

.page-subtitle {
  margin-top: -24px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
}

.text-link {
  // light blue
  color: rgb(23, 140, 233);
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
}

.todoList {
  ul {
    margin-bottom: 16px;
    li {
      margin-left: 24px;
    }
  }
}

.code {
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace;
  color: rgb(33, 47, 94, 0.8);
  background-color: rgb(245, 247, 255);
  padding: 8px 16px;
  border-radius: 4px;
  margin: 8px 0;
  overflow-x: auto;
}

// datepicker
.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 8px;

  .react-datepicker {
    user-select: none;
    border: none;
    padding: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0;
    .react-datepicker__triangle {
      display: none;
    }
    .react-datepicker__month-container {
      .react-datepicker__header {
        border-radius: 0 !important;
        background-color: #fff;
        border-bottom: none;
      } 
      .react-datepicker__day-names {
        border: none;
      }
      .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
        border-radius: 0.3rem;
        background-color: #548de3;
        color: #fff;
      }
    }
  }
}

.react-datepicker__navigation-icon {
  position: relative;
  top: 14px;
  font-size: 20px;
  width: 0;
}

.code-view {
  position: relative;
  pre {
    border-radius: 4px;
    padding: 16px 16px !important;
  }
  .copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

